.centerText {
  text-align: center;
  font-family: 'Zen Dots';
  font-size: 25px;
  margin-top: 5%;
}
.toRight {
  display: flex;
  justify-content: right;
  margin-top: 15px;
  margin-right: 25px;
}
