.cart {
  border-style: solid;
  background-color: white;
  border-color: rgb(5, 152, 157);
  border-radius: 50px;
  border-width: 5px;
  margin-right: 15%;
  margin-left: 15%;
  min-height: 80vh;
  height: auto;
  margin-top: 3%;
}
