.display {
  display: flex;
  justify-content: left;
}
.image {
  height: 400px;
  width: 400px;
  border-style: solid;
  border-color: black;
  padding: 2%;
  background-color: white;
}
.image:hover {
  cursor: pointer;
}
.title {
  text-align: center;
  font-size: 45px;
}
.buyNow {
  display: flex;
  justify-content: bottom;
  margin-left: auto;
  bottom: 0px;
  margin-top: auto;
}
