.centerSearch {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}
.cardDescription {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.productContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-style: solid;
  background-color: white;
  border-color: var(--border_color);
  border-radius: 50px;
  border-width: 5px;
  margin-left: 15%;
  height: auto;
  margin-top: 3%;
  width: 70%;
  margin-right: 15%;
}
.images {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 225px;
  width: 225px;
}
.images:hover {
  transition-delay: 10;
  transform: scale(1.15);
}
