.centerSearch {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
