.centerSearch {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px, 0;
}
.cardDescription {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.productContainer {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 10px;
}
img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 225px;
  width: 225px;
}
img:hover {
  transition-delay: 10;
  transform: scale(1.15);
}
